@charset "UTF-8";
.title{
   background-image: url(メイン画像.jpg);
   background-position:bottom;
   Background-attachment: fixed;
   background-size: cover;
   padding-top: 6%;
}
.backImage01 , .backImage02{
  padding-top: 6%;
  padding-bottom: 6%;
  background-position:bottom;
  Background-attachment: fixed;
  background-size: cover;
}
.backImage01{
  background-image: url(メイン画像.jpg);
}
.backImage02{
  background-position:center;
  background-image: url(地上の景色.jpg);
}
h1{
  font-size: 5vw;
  text-align: left;
  margin-left: 5%;
  color: #eaf6fd;
  padding-bottom: 6%;
}
h2{
  font-size: 3vw;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #dbedf0;
  border-top: 3px solid #0c4da2;
  border-bottom: 3px solid #0c4da2;
}
h3{
  font-size: 2vw;
  text-align: left;
  padding-left: 10%;
  padding-top: 1%;
}
h4{
  font-size: 1.5vw;
  text-align: left;
  padding-left: 10%;
  padding-top: 1%;
  background-color: #9bedf6;
  border-top: 3px solid #0c4da2;
  border-bottom: 3px solid #0c4da2;
}
.neon {
  animation: flash 7s infinite; /* アニメーションflashを1秒ごとに繰り返す */
}
@keyframes flash {
  0%, 100% {
    /* 明るく光るよう影を重ねる */
    text-shadow: 0 0 0.3vw yellow, 0 0 0.6vw yellow;
  }
  50% {
    /* 淡く光るよう影を重ねる */
    text-shadow: 0 0 0.2vw yellow, 0 0 0.3vw yellow, 0 0 5vw white;
  }
}
.sub{
  border-style: none;
  width: 100%;
  height: 100%;
}
.youtube{
  margin-left: 15%;
  padding: 1%;
  background-color: #9bedf6;
  width: 40vw;
  height: 23vw;
}
img{
  font-size:0;
  line-height:0;
  background-color: #dbedf0;
  box-shadow: 2px 2px 0.25vw black;
}
.contents{
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  background-color: #dbedf0;
}
.juxta{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #dbedf0;
}
article{
  height: 100%;
  width: 75%;
  background-color: #dbedf0;
}
aside{
  width: 25%;
  font-size:0;
  line-height:0;
  background-color: #022561;
}
.end{
  background-image: url(ヘッダー.png);
  background-position:top;
  background-size:cover;
}
.before,.after{
  width: 50%;
  padding-bottom: 0%;
}
.text{
  text-align: left;
  padding-left: 15%;
  font-size: 1.5vw;
}
.text-Center{
  text-align: left;
  padding-left: 20%;
  font-size: 1.5vw;
  color: white;
}
.Line-Item{
  text-align: left;
  display: block;
  padding-left: 20%;
  font-size: 3vw;
  position: relative;
  color: #eaf6fd;
}
.Line-Item::before {
  content: '';
  position: absolute;
  top: 90%;
  right: 50%;
  width: 0;
  height: 5px;
  background: linear-gradient(to right, blue, #0072FF);
  background: -moz-linear-gradient(left, blue, #0072FF);
  background: -webkit-linear-gradient(left, blue, #0072FF);
  transition:  0.3s;
}
.Line-Item:hover::before {
  left: 10%;
  width: 40%;
}
@media (max-width:600px) {
  .title{
     background-image: url(メイン画像.jpg);
     background-position:bottom;
     Background-attachment: fixed;
     background-size: cover;
     padding-top: 15%;
  }
  .contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    text-align: center;
  }
  .juxta{
    flex-direction: column;
  }
  .before{
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
  }
  .after{
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
  }
  .end{
    background-image: url(ヘッダー.png);
    background-size:cover;
    background-position:bottom;
    background-size: 150%;
  }
  .text{
    text-align: left;
    padding-left: 15%;
    font-size: 4vw;
  }
  .text-Center{
    padding: 0;
    text-align: center;
    font-size: 5vw;
  }
  .sub{
  border-style: none;
  width: 100%;
  height: 200vw;
  }
  .youtube{
    margin-left: 15%;
    padding: 1%;
    background-color: #9bedf6;
    width: 70vw;
    height: 40vw;
  }
  article{
    width: 100%;
    background-color: #dbedf0;
  }
  aside{
    width: 100%;
    font-size:0;
    line-height:0;
  }
  h1{
    font-size: 6vw;
    padding-bottom: 15%;
  }
  h2{
    font-size: 7vw;
  }
  h3{
      font-size: 4vw;
  }
  h4{
    font-size: 4vw;
  }
  .Line-Item{
    text-align: center;
    display: block;
    padding-left: 0%;
    font-size: 7vw;
  }
  .Line-Item::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0%;
    width: 0;
    height: 10%;
    background: linear-gradient(to right, blue, #0072FF);
    background: -moz-linear-gradient(left, blue, #0072FF);
    background: -webkit-linear-gradient(left, blue, #0072FF);
    transition:  0.6s;
  }
  .Line-Item:hover::before {
    left: 0%;
    width: 100%;
  }
}
*{
  text-decoration: none;
  margin:0%;
  padding:0%;
}
